.review-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  font-size: 16px;
  font-weight: 300;
}

.form-group input,
.form-group textarea {
  border-radius: 8px;
  background: #3f3f3f;
  border: none;
  padding: 12px;
  color: #fff;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.form-group textarea {
  min-height: 100px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #6aea4a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #5cd93d;
}
